*
{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
/* Start of header */
nav
{
    background: white;
    height: 60px;
    width: 100%;
    position: fixed;/*in the top of the page while scrolling*/
    z-index: 1000;/*to be above all components*/
    border-bottom: 1px solid rgb(110, 109, 131);

}
.logo
{
    padding: 0 90px;  /*top and bottom=0 , right and left=90px*/
}
nav ul
{
    float: right;
    margin-right: 30px;

}
nav ul li
{
   display: inline-block; /*each component in block and beside each other*/
   line-height: 80px;
   margin: 0 5px; /*top and bottom=0 , right and left=5px*/
}
nav ul li a
{
    
    font-size: 17px;
    padding: 7px 13px;
}
a.link:link
{
    text-decoration: none;
    color: black;
}
a.link:visited
{
    text-decoration: none;
    color: black;
}
a.link:hover
{
   text-decoration: none;
   color: rgba(70,91, 205,100);
   transition: 0.3s; /*while the mouse on the element the color change in 0.3s */


}
a.link:active
{
    text-decoration: none;
    color: black;
}

/* End of header */



/* Start of the Hero section */
.hero-image
{
    
    background: url(DentalHero.jpg) no-repeat center ;
    background-size: cover;
    background-position: 100%; /*no cut in the image*/
    height: 740px;
    width: 100%;
 
    
}
.box  /*the filter on the photo*/
{
    height: 740px; /*the same height as the hero image*/
    background: linear-gradient(90deg, rgba(43,41,148,0.9444152661064426) 0%,
                                       rgba(49,47,155,1) 0%,
                                       rgba(69,64,232,0.9444152661064426) 0%,
                                       rgba(54,52,161,0.9023984593837535) 17%,
                                       rgba(59,57,166,0.8603816526610644) 29%,
                                       rgba(62,60,170,0.8827906162464986) 37%,
                                       rgba(74,82,189,0.8491771708683473) 47%,
                                       rgba(76,70,194,0.804359243697479) 50%,
                                       rgba(18,53,176,0.3449754901960784) 100%,
                                       rgba(70,129,205,0) 100%);
    color: white;
    font-size: 20px;
    word-spacing: 4px;
    /* width: 100%;  */
}
.spacing 
{
    padding-top: 200px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.button  /*Book appointment button*/
{
    background-color: #0a1658;
    color: white;
    padding: 15px 32px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}
.button2  /*learn more button*/
{
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    margin-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid white;
    cursor: pointer;
}

a.link1:link
{
    text-decoration: none;
    color: white;
}
a.link1:visited
{
    text-decoration: none;
    color: white;
}
a.link1:hover
{
   text-decoration: none;
   color: white;

}
a.link1:active
{
    text-decoration: none;
    color: white;
}
/* End of Hero section */





/* start of doctor cards */
.margin  /*the title*/
{
    margin-left: 200px;
    margin-top: 150px;
    margin-bottom: 150px;
}

#doctors
{
    display: grid;
    grid-template-columns:  300px 300px 300px ;
    grid-row-gap: 70px;
    grid-column-gap: 50px;
    
}

.card
{
   display: grid;
   grid-template-columns: 300px;
   grid-template-rows: 300px 150px 70px;
   grid-template-areas: "image" "text" "stats";
   border-radius: 18px;
   background: white;
   box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.9); /*x y color*/
   text-align: center;
   transition: 0.5s ease;/*slow start, then fast, then end slowly (default)*/
   cursor: pointer; /*like the button*/
}
.card-image
{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-image1
{
    background-image: url(dentist1.jpg);
}
.card-image2
{
    background-image: url(dentist2.jpg);
    

}
.card-image3
{
    background-image: url(dentist3.jpg);
    
}
.card-image4
{
    background-image: url(dentist5.jpg);
    
}
.card-image5
{
    background-image: url(dentist4.jpg);
   
}
.card-image6
{
    background-image: url(dentist6.jpg);
   
}
.card-text
{
    grid-area: text;
    margin: 25px;
}
.card-stats
{
    grid-area: stats;
}

.card-stats .appointment
{
    height: 3.5rem;
    padding: 0 2rem;/*top and bottom=0 , right and left=2rem*/
    border-radius: 0.375rem;
    border: #2843d7;
    background: #2843d7;
    color: white;
    box-shadow: 0 0.2rem 0 0 #02222b;
    transition: all 0.3s;

}
.card-stats .appointment:active /*while pressing on it*/
{
    transform:  translateY(0.3rem); /*moves in y-axis by 0.3rem*/
    box-shadow: 0 0.2rem 0 0 #2843d7;
}

.card:hover
{
    transform: scale(1.2);/*increase the size (y) by 1.2*/
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.checked 
{
    color: #2843d7; /*the color of the checked stars*/
}
/*End of doctor cards*/




/* start of footer */
.footer
{
    background-color: #0a1658;
    padding: 70px 0; /*top and bottom=70px ,right and left =0*/

}
.footer-top
{
    display: grid;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    margin-left: 200px;
    margin-right: 50px;
    
}
.footer-top i  /*the icons*/
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #0a1658;

}

.footer-top span
{
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 300; 
}
.container
{
    width: 100%; 
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: nowrap;/*next to each other*/
}

.footer-col
{
    width: 25%;/* 100/4  4 parts*/
    padding: 0 15px;
    margin-left: 48px;

}
.footer-col h4  /*the title of each part*/
{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before /*the line under the each title*/
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; /*to be under the title ex:-ve y-axis*/
    background-color: rgb(110, 109, 131);
    height: 2px;
    /* box-sizing: border-box;  */
    width: 50px;
}
.footer-col ul li:not(:last-child) /*not including the last li*/
{
    margin-bottom: 10px;
}
.footer-col ul li a
{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color: rgb(110, 109, 131);
    padding-left: 8px; /*moving to the left*/
}
.footer-col .social-links a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #0a1658;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover
{
    color: white;
    background-color: #0a1658;
}
.footer-bottom /*the copyright section*/
{
    width: 100vw;
    padding-bottom: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 10px;
    color: rgb(110, 109, 131);
    font-weight: 200;
}


/* End of footer */